<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Language</key>
	<dict>
		<key>Level</key>
		<string>Main</string>
		<key>Name</key>
		<string>StartLanguage</string>
		<key>Type</key>
		<string>Language</string>
	</dict>
	<key>Quality</key>
	<dict>
		<key>Type</key>
		<string>Quality</string>
	</dict>
	<key>Resolution</key>
	<dict>
		<key>Type</key>
		<string>Resolution</string>
	</dict>
	<key>FullScreen</key>
	<dict>
		<key>Level</key>
		<string>Screen</string>
		<key>Name</key>
		<string>FullScreen</string>
		<key>Type</key>
		<string>Bool</string>
		<key>Default</key>
		<true/>
	</dict>
	<key>TextureQuality</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>TextureQuality</string>
		<key>Type</key>
		<string>Int</string>
		<key>Default</key>
		<integer>1</integer>
		<key>Preset</key>
		<true/>
	</dict>
	<key>ShadowQuality</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>ShadowQuality</string>
		<key>Type</key>
		<string>Int</string>
		<key>Default</key>
		<integer>1</integer>
		<key>Preset</key>
		<true/>
	</dict>
	<key>ShadowResolution</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>ShadowResolution</string>
		<key>Type</key>
		<string>Int</string>
		<key>Default</key>
		<integer>1</integer>
		<key>Preset</key>
		<true/>
	</dict>
	<key>OpenALDevice</key>
	<dict>
		<key>Level</key>
		<string>Sound</string>
		<key>Name</key>
		<string>Device</string>
		<key>Type</key>
		<string>OpenAL</string>
	</dict>
	<key>TextureFilter</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>TextureFilter</string>
		<key>Type</key>
		<string>Int</string>
		<key>Default</key>
		<integer>1</integer>
		<key>Preset</key>
		<true/>
	</dict>
	<key>TextureAnisotropy</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>TextureAnisotropy</string>
		<key>Type</key>
		<string>Float</string>
		<key>Default</key>
		<integer>1</integer>
		<key>Preset</key>
		<true/>
	</dict>
	<key>Parallax</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>ParallaxEnabled</string>
		<key>Type</key>
		<string>Bool</string>
		<key>Default</key>
		<false/>
		<key>Preset</key>
		<true/>
	</dict>
	<key>SSAOResolution</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>SSAOResolution</string>
		<key>Type</key>
		<string>Int</string>
		<key>Default</key>
		<integer>0</integer>
		<key>Preset</key>
		<true/>
	</dict>
	<key>SSAOActive</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>SSAOActive</string>
		<key>Type</key>
		<string>Bool</string>
		<key>Default</key>
		<true/>
		<key>Preset</key>
		<true/>
	</dict>
	<key>SSAOSamples</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>SSAOSamples</string>
		<key>Default</key>
		<integer>8</integer>
		<key>Type</key>
		<string>Int</string>
		<key>Preset</key>
		<true/>
	</dict>
	<key>EdgeSmooth</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>EdgeSmooth</string>
		<key>Type</key>
		<string>Bool</string>
		<key>Default</key>
		<false/>
		<key>Preset</key>
		<false/>
	</dict>
	<key>WorldReflection</key>
	<dict>
		<key>Level</key>
		<string>Graphics</string>
		<key>Name</key>
		<string>WorldReflection</string>
		<key>Type</key>
		<string>Bool</string>
		<key>Default</key>
		<true/>
		<key>Preset</key>
		<true/>
	</dict>
</dict>
</plist>
